<!DOCTYPE html>
<html>

<head>
<style>
.button {
  background-color: white;
  border: 2px solid gray;
  border-radius: 6px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
</style>
</head>
<body>

<h1 align="center">Face Recognition Attendance System</h1>
<!--
<p align="center">
  <input type="button" class="button button" value="Capture Image" />

</p>
-->

<p align="center">
  <a href="/training" class="button">Train Dataset</a>
</p>

<p align="center">
  <a href="/video" class="button">Open Camera</a>
</p>
<!--
<p align="center">
  <input type="button" class="button"  value="See Database" />
</p>
-->
</body>
</html>